*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: #000;
}
:root{
    --prymary-color:#e03a3c;
    --prymary-bg:#1b1b1b;
}


/*=================================================================
                            NavBar Start 
=====================================================================*/
nav{
    background: #fff;
    padding: 1.8rem 7rem;
    width: 100%;
}
nav .logo{
    font-size: 3rem;
    font-weight: 600;
}
nav .logo span{
  color: var(--prymary-color);
}
.navContent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 1.5rem;
    font-weight: 500;
}
.navContent .menu> ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.menu ul li a{
    padding: 1rem 1.5rem;
    transition: 0.3s;
}
.menu ul li a:hover{
    color: var(--prymary-color);
}
.menu >ul .navContact{
    background: var(--prymary-color);
    color: #fff !important;
    padding: 0.7rem 2rem;
    margin: 0.3rem;
    border-radius: 0.4rem;
    transition: 0.5s;
}
.menu >ul .navContact:hover{
    background: var(--prymary-bg);
}
.menuIcon{
    font-size: 2rem;
    border: 0.2rem solid black;
    border-radius: 0.3rem;
    padding: 0.5rem 1.2rem;
    transition: 0.1s;
    user-select: none;
    z-index: 999;
}
.menuIcon:active{
    background: #e03a3db2;
}
.fa-times{
    font-size: 2.2rem;
    padding: 0.3rem 0.15rem;
}
.rotationAnime{
    transform: rotate(360deg);
    transition: 0.5s;
}
/* Dropdown List  */
.fa-chevron-down{
    position: relative;
    top: 2px;
}
#dropdown ul{
    list-style: none;
    width: 15rem;
    position: absolute;
    top: 6rem;
    background: #fff;
    border-radius: 0.3rem;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    display: none;
    animation: dropdownAnime 0.5s 1 alternate;
    z-index: 1;
}
li#dropdown a {
    padding: 2rem 1.5rem;
}
#dropdown:hover > ul{
    display: block;
}
#dropdown ul li a{
    display: block;
    padding: 1rem 2rem;
}

@keyframes dropdownAnime {
    0%{
        top: 10rem;
    }
    100%{
        top: 6rem;
    }
}

 /* Menu for Mobile Display  */
 .mobileMenu{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #fff;
    display: none;
    z-index: 99;
 }
 .mobileMenu ul{
    list-style: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }
/* Mobile Nav Bar Animation */
 .mobileMenu ul li{
    animation: mobileNavAnime 0.5s 1 forwards;
     margin-left: -400rem;
 }
 .mobileMenu ul li:nth-child(2){
    animation: mobileNavAnime 0.5s 1 0.2s forwards;
 }
 .mobileMenu ul li:nth-child(3){
    animation: mobileNavAnime 0.5s 1 0.3s forwards;
 }
 .mobileMenu ul li:nth-child(4){
    animation: mobileNavAnime 0.5s 1 0.4s forwards;
 }
 .mobileMenu ul li:nth-child(5){
    animation: mobileNavAnime 0.5s 1 0.5s forwards;
 }
 .mobileMenu ul li:nth-child(6){
    animation: mobileNavAnime 0.5s 1 0.6s forwards;
 }
 .mobileMenu ul li:nth-child(7){
    animation: mobileNavAnime 0.5s 1 0.7s forwards;
 }
 .mobileMenu ul li:nth-child(8){
    animation: mobileNavAnime 0.5s 1 0.8s forwards;
 }
 .mobileMenu ul li a{
    display: block;
    width: 100%;
    padding: 1rem 2rem;
    transition: 0.3s;
    font-size: 2rem;
 }
 .mobileMenu ul li a:hover{
    color: var(--prymary-color);

}

/* Mobile Dropdown Menu */
#mobileDropdown ul{
    list-style: none;
    width: 16rem;
    height: max-content;
    background: #fff;
    border-radius: 0.3rem;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    display: none;
}
#mobileDropdown ul li a{
    padding: 1.5rem 3rem;
}
#mobileDropdown:hover > ul{
 display: block;
}
li#mobileDropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Animation code for Mobile Nav Bar */
@keyframes mobileNavAnime {
    0%{
        margin-left: -400rem;
    }
    100%{
        margin-left: 0;
    }
}

/* Responsive Code of NavBar */
@media screen and (min-width:1020px) {
    .menuIcon{
        display: none;
    }
}
@media screen and (max-width:1020px) {
    .menu{
        display: none;
    }
    html{
        font-size: 55%;
    }
    nav{
        padding: 1.8rem 3rem;
    }
}
/*=================================================================
                            NavBar End 
=====================================================================*/


/* =================================================================
                            Hero Area Start
===================================================================== */
#heroArea{
    background: url(assets/img/hero-bg-3.jpg) no-repeat center center/cover;
    background-attachment: fixed;
    height: 100%;
    position: relative;
    font-family: "Raleway", sans-serif;
}
#heroArea::before{
    content: '';
    background: rgba(0, 0, 0, 0.575);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#heroArea div{
    color: #fff;
    position: relative;
    width: 70rem;
    padding: 8rem 10rem;
}
.mainHeading{
    font-size: 4.5rem;
    padding: 1rem 0;
}
.mainHeading .webText{
    color: var(--prymary-color);
}
.tagLine{
    font-size: 2.3rem;
    font-weight: 500;
}
.headerButton {
    background: var(--prymary-color);
    color: #fff;
    font-size: 1.7rem;
    font-weight: 500;
    padding: 1.5rem 3.5rem;
    display: block;
    margin-top: 3rem;
    width: fit-content;
    width: -moz-fit-content;
    border-radius: 0.3rem;
    transition: 0.3s;
    border: 0.2rem solid transparent;
}
.headerButton:hover{
    background: transparent;
    border: 0.2rem solid #fff;
}

/* Responsive Code for Hero area */
@media screen and (max-width:716px) {
    #heroArea div{
        width: 100%;
        padding: 5rem;
        text-align: center;
    }
    .tagLine{
        font-size: 2rem;
        padding: 2rem 0;
    }
    .mainHeading{
        font-size: 3.5rem;
        padding: 2rem 0;
    }
    .headerButton{
        margin: 5rem auto;
    }
}
/* =================================================================
                            Hero Area End
===================================================================== */

/* ---------------------------------------------------------------------------------------------------- */

/*====================================================================
                            Clients Section Start
======================================================================== */
#clients{
    margin: 3rem 6rem;
}
.client_heading{
    font-size: 3.5rem;
    color: var(--prymary-color);
    text-align: center;
    padding-bottom: 2rem;
}
.clients .swiper-pagination {
    margin-top: 20px;
    position: relative;
}

.clients .swiper-pagination .swiper-pagination-bullet {
width: 12px;
height: 12px;
background-color: #fff;
opacity: 1;
border: 1px solid var(--prymary-color);
}

.clients .swiper-pagination .swiper-pagination-bullet-active {
background-color: var(--prymary-color);
}

.clients .swiper-slide img {
opacity: 0.5;
transition: 0.3s;
filter: grayscale(100);
}

.clients .swiper-slide img:hover {
opacity: 1;
filter: none;
}

/* Responsivse code for Client area */
@media screen and (max-width:516px) {
#clients{
    margin:3rem;
}
}

/*====================================================================
                            Clients Section End
========================================================================*/

/* ---------------------------------------------------------------------------------------------- */

/* =======================================================================
     About Us Section Start 
========================================================================= */
 #about_us {
    background: var(--prymary-bg);
    color: #fff;
    /* clip-path: polygon(0 21%, 100% 0%, 100% 82%, 0% 100%); */
    clip-path: polygon(0 11%, 100% 0%, 100% 89%, 0% 100%);
    display: flex;
    padding: 3rem 0;
    width: 100%;
}
.about_description {
    margin: 6rem;
    margin-bottom: 3rem;
    width: 115rem;
}
.about_description h1{
    font-size: 3rem;
}
.about_description p{
    font-size: 1.5rem;
    padding: 2rem 0;
    color: rgba(238, 238, 238, 0.829);
}
.about_description a {
    color: #fff;
    font-size: 1.5rem;
    border: 2px solid var(--prymary-color);
    display: block;
    width: fit-content;
    width: -moz-fit-content;
    border-radius: 2rem;
    padding: 0.5rem 2rem;
    margin: 1rem 0;
    transition: 0.5s;
}
.about_description a:hover{
background: var(--prymary-color);
}
.about_description a i {
    font-size: 1.4rem;
    padding: 0 0.6rem 0 1.1rem;
}
.point {
    margin:2rem;
    padding-bottom: 2rem;
}
.about_points{
    display: flex;
}
.point i {
    font-size: 3rem;
    color: var(--prymary-color);
    padding: 1rem 0px;
}
.point h1 {
    font-size: 2rem;
    padding: 0.6rem 0;
}
.point p {
    font-size: 1.4rem;
    color: rgba(238, 238, 238, 0.637);
} 

/* Responsive code for Aboout Us Section */
@media screen and (max-width:935px) {
    #about_us {
        clip-path: polygon(0 6%, 100% 0%, 100% 93%, 0 100%);
        flex-wrap: wrap;
        padding-top: 0;
    }
    .about_points{
        margin: 0 4rem;
        padding-bottom: 3rem;
    }
    .about_description{
        padding-top: 2rem;
        margin-left:2rem ;
        margin-right: 2rem;
    }
    .about_description h1{
        font-size: 2.5rem;
    }
}
@media screen and (max-width:585px) {
    #about_us {
        clip-path: polygon(0 4%, 100% 1%, 100% 96%, 0 99%);
    }
    .about_points{
        flex-wrap: wrap;
        margin: 0 2rem;
    }
    .secont_col{
        padding-bottom: 1rem;
    }
}
/* =======================================================================
     About Us Section End 
========================================================================= */


/*============================================================================
                                Counter section Start 
================================================================================*/
#counter{
    margin: 6rem 3rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.counter_div{
    width: 26rem;
    background: #fff;
    padding: 3rem 5rem;
    margin: 2rem;
    border-radius: 0.4rem;
    box-shadow: 0px 2px 35px rgb(0 0 0 / 10%);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.counter_icon{  
    width: 5rem;
    height: 5rem;
    font-size: 2.5rem;
    color: var(--prymary-color);
    position: absolute;
    top: -2rem;
    border: 2px solid #fff;
    box-shadow: 0px 2px 25px rgb(0 0 0 / 20%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.counter_number{
    font-size: 2rem;
    margin: 1rem 0;
    font-weight: bold;
}
.counter_name{
    text-align: center;
}

/*============================================================================
                                Counter section End 
================================================================================*/


/* ============================================================================
                                Tab about section Start 
================================================================================ */
#tabAbout{
    margin: 5rem 0;
}
.allTabButtons{
    display: flex;
    justify-content: space-evenly;

}
.tabButton{
    border: 2px solid rgb(211, 211, 211);
    font-size: 1.8rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 1rem;
    width: 31rem;
    cursor: pointer;
    transition: 0.5s;
    user-select: none;
    color: #8a8a8a;
}
.tabButton i{
padding: 0 2rem 0 0;
font-size: 3rem;
}
.tabButton:hover{
    color: var(--prymary-color);
    border: 2px solid var(--prymary-color);
}
.activeTab{
    background: var(--prymary-color);
    color: #fff !important;
    border: 2px solid var(--prymary-bg) !important;
}

/* Resposive code for Tab buttons */
@media screen and (max-width:864px) {
    .tabButton{
        font-size: 1.6rem;
        padding: 2rem 1rem;
        width: fit-content;
    }
    .tabButton i{
    font-size: 2rem;
    }
}
@media screen and (max-width:680px) {
    .tabButton{
        flex-direction: column;
    }
    .tabButton span{
        text-align: center;
    }
    .tabButton i{
    padding: 0 0 1rem 0;
    }
}
@media screen and (max-width:443px) {
    .tabButton{
        padding: 0.5rem 1rem;
        font-size: 1rem;
    }
}

/* Tab content */
.tabContent{
    margin: 3rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.tabContent div:nth-child(1){
    width: 55%;
}
.tabHeading{
    font-size: 3rem;
    color: var(--prymary-color);
}
.tabSubHeading{
    font-size: 1.3rem;
    color: rgb(197, 197, 197);
    padding-bottom: 1rem;
}
.tabPoint{
    font-size: 1.8rem;
    color: #8a8a8a;
}
.tabPoint i{
    color: var(--prymary-color);
}
.tabDescription{
    color: #8a8a8a;
    font-size: 1.6rem;
    padding-top: 1rem;
}
.tabImage{
    height: 45rem;
}

/* Resposive code for Tab content */
@media screen and (max-width:863px) {
    .tabContent{
        flex-direction: column;
    }
    .tabContent div:nth-child(1){
        width: 100%;
    }
    .tabImage{
        height: 100%;
        width: 100%;
    }
}
/* ============================================================================
                                Tab about section End 
================================================================================ */


/* ============================================================================
                                Services Section Start 
================================================================================ */
#services{
position: relative;
color: #fff;
margin: 10rem 0;
}
.servicesBefore::before{
    content: "";
    background: #1b1b1b;
    position: absolute;
    bottom: 60px;
    top: -3rem;
    left: 0;
    right: 0;
    transform: skewY(-3deg);
    z-index: -1;
    height: 110%;
}
.services_heading{
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    margin: 2rem 0;
}
.services_heading::after{
    content: "";
    background: var(--prymary-color);
    height: 0.3rem;
    width: 5rem;
    position: absolute;
    top: 5rem;
    left: calc(50% - 25px);
}
.services_para{
    text-align: center;
    font-size: 1.6rem;
    padding: 2rem 3rem;
}
.serviceBoxContainer{
    display: flex;
    margin: 0 5rem;
}
.serviceBoxContainer .serviceBox{
    margin: 1rem;
    padding:3rem;
    background: #eee;
    border-radius: 0.5rem;
    display: flex;
    background: #313131;
}
.serviceBox i{
    font-size: 5rem;
    padding: 0.5rem 2rem 0 0;
    color: var(--prymary-color);
}
.serviceBox h2{
    font-size: 1.7rem;
}
.serviceBox p{
    font-size: 1.2rem;
    padding: 0.5rem 0;
}
.serviceBoxButton{
    font-size: 1.2rem;
    border: 1px solid #fff;
    padding: 0.5rem 1.5rem;
    border-radius: 5rem;
    transition: 0.3s;
    display: block;
    width: fit-content;
    width: -moz-fit-content;
    margin-left: -0.4rem;
    color: #fff;
}
.serviceBoxButton i {
    font-size: 1.2rem;
    padding: 0 0 0 0.5rem;
    color: #fff;
}
.serviceBoxButton:hover {
    background: var(--prymary-color);
    color: #fff;
}


/* Responsive Code for Services section */
@media screen and (max-width:843px) {
    .serviceBoxContainer {
        flex-wrap: wrap;
    }
}

@media screen and (max-width:633px) {
    .servicesBefore::before{
        height: 105%;
    }
    .serviceBox{
        flex-direction: column;
    }
    .serviceBox >i{
        padding-bottom: 2rem;
    }
    .serviceBoxContainer{
        margin: 0 3rem;
    }
}
/* ============================================================================
                                Services Section End 
================================================================================ */


/* <!-- ============================================================================
                                Portfolio Section Start 
=================================================================================--> */
#portfolio{
    margin: 7rem;
    padding: 4rem 0;
}
.portfolio_heading{
    font-size: 3rem;
    text-align: center;
    color: rgb(90, 90, 90);
    position: relative;
}
.portfolio_heading::after{
    content: "";
    background: var(--prymary-color);
    height: 0.3rem;
    width: 5rem;
    position: absolute;
    top: 5rem;
    left: calc(50% - 25px);
}
.portfolio_para{
    font-size: 1.6rem;
    text-align: center;
    color: rgb(105, 105, 105);
    padding-top: 2rem;
}

/* Filter elements styling */
.filter_container{
    margin: 2rem 0;
}
.filter_button_container{
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}
.filter_button{
    padding: 1rem 1.5rem;
    margin: 0 1rem;
    cursor: pointer;
    font-size: 1.6rem;
    border-radius: 0.4rem;
    border: 0.5px solid rgb(90, 90, 90);
    background: #fff;
    color: rgb(90, 90, 90);
    transition: 0.3s;
}
.filter_button:hover{
    background: var(--prymary-color);
    color: #fff;
}
.filter_items{
    margin: 1rem 0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr;
    grid-gap: 3rem;
    overflow-y: hidden;
}
.portfolio-wrap{
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.portfolio-wrap::before {
    content: "";
    background: rgba(17, 17, 17, 0.6);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    opacity: 0;
    width: 100%;
    height: 100%;
 }
 .portfolio-wrap img {
    transition: 0.3s;
    width: 100%;
    height: 100%;
}
.portfolio-wrap .portfolio_description {
    opacity: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 3;
    margin: 3rem;
}
.portfolio-wrap:hover .portfolio_description {
    opacity: 1;
}
 .portfolio-wrap:hover::before {
    opacity: 1;
}
 .portfolio-wrap:hover img {
    transform: scale(1.2) rotate(-35deg);
}
.portfolio-wrap .portfolio_description h4 {
    color: #fff;
    font-size: 3rem;
    line-height: 2rem;
}
 .portfolio-wrap .portfolio_description p {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.5rem;
    margin-left: 0.3rem;
}
.portfolio-wrap .portfolio_link {
    z-index: 4;
    font-size: 1.5rem;
}
.portfolio-wrap .portfolio_link a{
    margin: 0 1rem 0 0;
    color: rgba(207, 207, 207, 0.589);
    transition: 0.2s;
}
.portfolio-wrap .portfolio_link a:hover{
    color: rgb(236, 236, 236);
}

/* Responsive code for Portfolio section */
@media screen and (max-width:874px) {
    #portfolio {
        margin: 7rem 3rem;
    }
    .filter_items{
        grid-gap: 1rem;
    }
    .portfolio-wrap .portfolio_description {
        margin: 1rem;
    }
    .portfolio-wrap .portfolio_description h4 {
        font-size: 2rem;
    }
     .portfolio-wrap .portfolio_description p {
        font-size: 1.4rem;
    }
}
@media screen and (max-width:551px) {
    .filter_items{
        grid-template-columns: auto;
    }
    .portfolio-wrap .portfolio_description {
        margin: 3rem;
    }
    .portfolio-wrap .portfolio_description h4 {
        font-size: 3rem;
    }
     .portfolio-wrap .portfolio_description p {
        font-size: 1.6rem;
    }
   
}
/*============================================================================
                                Portfolio Section End 
================================================================================= */







/*=================================================================
                            Utility Classes 
=====================================================================*/
.active{
    color: var(--prymary-color);
}
.img-fluid{
    max-width: 100%;
}